* {
    margin: 0;
    padding: 0;

}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: #313172;
    color: #dadaf1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    color: #313172; 
}

h1,
h2 {
    text-align: center;

}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 1.875em;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid #616195;
    box-shadow: 5px 10px #616195;
    border-radius: 15px;
}

